body {
    margin: 0;
}

main {
    margin: 0;
}


.container {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ヘッダー =================================== */

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.header-top {
    height: 600px;
    background-image: url("https://www.pro-s.co.jp/seminar/seo/img/bg_image01.jpg");
}

.title-img {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

header a {
    margin-left: auto;
}

.seo-link {
    margin-top: 50px;
}

.header-bottom {
    padding: 60px 0;
    background-image: url("https://www.pro-s.co.jp/seminar/seo/img/bg_texture01.png");
}

.header-bottom img {
    height: 120px;
}

/* ナビゲーションバー ================================== */
.navigation-bar {
    width: 100%;
    background-color: #333;
    height: 70px;
}

.nav-menu {
    display: flex;
    margin-top: 0;
    text-align: center;
    margin-left: 200px;
}

.nav-menu li {
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
    margin-right: 20px;
}

.nav-menu a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

/* コンテンツ ========================================== */
.contents-top {
    padding: 40px 0;
}

.content1 {
    background-image: url("https://www.pro-s.co.jp/seminar/seo/img/bg_texture01.png");
}

.content4 {
    background: #eee url("https://www.pro-s.co.jp/seminar/seo/img/bg_texture04.gif") repeat left top;
}

.content4 img {
    width: 980px;
    height: 2465px;
}

.content5 {
    height: 300px;
    background-image: url("https://www.pro-s.co.jp/seminar/seo/img/bg_texture03.png");
}

.content5 img {
    margin-top: 50px;
    padding: 10px 0;
}

.contents-list {
    height: 850px;
    background: #666 url("https://www.pro-s.co.jp/seminar/seo/img/bg_image02.jpg") no-repeat fixed;
}

.contents-list img {
    margin-top: 70px;
}

.seminar-heading {
    padding-top: 60px;
    height: 200px;
    background: url("https://www.pro-s.co.jp/seminar/seo/img/bg_texture04.gif") repeat left top;
}

.seminar-heading p {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 20px;
}

.access img {
    padding-top: 60px;
    padding-bottom: 30px;
}

.access iframe {
    width: 100%;
    height: 400px;
}

.form {
    padding: 40px 0;
    position: relative;
}

.form-img {
    padding-bottom: 60px;
}

.form p {
    padding: 5px 40px;
    background-color: #ad242d;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    position: absolute;
    top: 260px;
    left: 450px;
}

.self-introduction {
    padding: 80px 0;
    background-color: #e7ddc4;
    margin-bottom: 0;
}

.self-introduction img {
    margin: 0;
}

/* フッダー ====================================== */

footer {
    background-color: #333;
    margin-top: 0;
    height: 100px;
}

footer p {
    color: white;
    padding-top: 40px;
}
